<h2 class='row'>List of posts</h2>
<div class='row'>
	<%= link_to ">>> Create new post <<<", new_post_path, class: 'btn btn-default' %>
</div>
<%= render(partial: "post", collection: @posts, locals: { truncate_size: 120}) %>