<div class="row">
	<div class="col-xs-12">
	  <div class="alert alert-warning fade in">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <span class="glyphicon glyphicon-exclamation-sign"></span>
	    <%= alert %>
	  </div>
	</div>
</div>
