<div class="row">
	<div class="col-xs-12">
	  <div class="alert alert-info fade in">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <span class="glyphicon glyphicon-info-sign"></span>
	    <%= notice %>
	  </div>
	</div>
</div>